@font-face {
  font-family: "quality-brave";
  src: url("../fonts/TheQualityBrave-Regular.ttf");
}
.btn {
  background-color: rgb(44, 44, 44);
  color: rgb(242, 250, 250);
  border: 1px solid rgb(44, 44, 44);
}
.btn:hover {
  background-color: rgb(242, 250, 250);
  color: rgb(44, 44, 44);
  border: 1px solid transparent;
  color: rgb(44, 44, 44);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@keyframes border-animation {
  from {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  to {
    border-top: 2px solid rgb(39, 39, 39);
    border-bottom: 2px solid rgb(39, 39, 39);
  }
}
/* Josh Comeau Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: rgb(44, 44, 44);
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  color: rgb(44, 44, 44);
  text-decoration: none;
}

button:hover {
  background-color: rgb(44, 44, 44);
  color: rgb(242, 250, 250);
  cursor: pointer;
}

.top-div {
  background-color: rgb(242, 250, 250);
  border: 5px solid black;
}

.articles-loading {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150vh;
}

.sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1.5px solid rgb(44, 44, 44);
  border-bottom: 1.5px solid rgb(44, 44, 44);
  margin: 1rem 2rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  position: relative;
  transition: all 0.3s ease-in;
  height: 50px;
}
.sub-header::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0.15rem;
  height: 0.5px;
  background-color: rgb(39, 39, 39);
}
.sub-header::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0.15rem;
  height: 0.5px;
  background-color: rgb(39, 39, 39);
}
.sub-header .weather-container {
  transition: all 0.2s ease-in;
  position: relative;
}
.sub-header .weather-container .weather-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 4px 7px;
  margin: 0.1rem;
}
.sub-header .weather-container .weather-btn:hover {
  background-color: rgb(44, 44, 44);
  color: rgb(242, 250, 250);
}
.sub-header .weather-container .weather-btn .weather-temp {
  margin: 0 0.1rem;
}
.sub-header .weather-container .weather-btn .weather-icon-container {
  width: 25px; /* adjust as needed */
  height: 25px; /* adjust as needed */
}
.sub-header .weather-container .weather-btn .weather-icon-container .weather-icon {
  width: 100%;
  height: 100%;
}
.sub-header .weather-container .update-location {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  padding: 1rem;
  right: 0;
  background-color: rgb(242, 250, 250);
  max-height: 0;
  visibility: hidden;
  border: 3px solid rgb(44, 44, 44);
  overflow: hidden;
  transition: opacity 0.2s ease-in-out, max-height 0.4s ease-in-out;
  /* Add this block to specify the max-height value when the element is closed */
}
.sub-header .weather-container .update-location.open {
  opacity: 1;
  visibility: visible;
  max-height: 500px; /* adjust as needed */
}
.sub-header .weather-container .update-location:not(.open) {
  max-height: 5;
}
.sub-header .weather-container .update-location h2 {
  margin-bottom: 0.4rem;
  font-style: italic;
}
.sub-header .weather-container .update-location input {
  margin-bottom: 1.2rem;
}
.sub-header .weather-container .update-location button {
  font-size: 1.2em;
  width: 5rem;
  margin-right: 0.2rem;
}

.nav-container {
  margin-bottom: 1rem;
}
.nav-container .nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0.25rem;
  padding: 0.75rem 0;
  position: relative;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: border-animation 2s linear forwards;
}
.nav-container .nav::before {
  position: absolute;
  content: "";
  width: 96%;
  top: -0.4rem;
  left: 2.5%;
  height: 2px;
  background-color: rgb(39, 39, 39);
}
.nav-container .nav::after {
  position: absolute;
  content: "";
  width: 95%;
  bottom: -0.4rem;
  left: 2.5%;
  height: 2px;
  background-color: rgb(39, 39, 39);
}
@media (min-width: 768px) {
  .nav-container .nav {
    flex-direction: row;
  }
}
.nav-container .nav .nav-left {
  flex-basis: 10%;
}
.nav-container .nav .nav-left .select-sub-btn-container .select-sub-btn {
  background-color: rgb(44, 44, 44);
  color: rgb(242, 250, 250);
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25em;
  padding: 1rem;
  position: relative;
  z-index: 5;
}
.nav-container .nav .nav-left .select-sub-btn-container .select-sub-btn:hover {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.nav-container .nav .nav-left .select-sub-btn-container .icon {
  font-size: 1.1em;
  position: absolute;
  bottom: 0;
  z-index: 10;
  color: rgb(242, 250, 250);
  border: none;
}
.nav-container .nav .nav-left .select-sub-btn-container .icon.left-icon {
  left: 0;
}
.nav-container .nav .nav-left .select-sub-btn-container .icon.right-icon {
  right: 0;
}
.nav-container .nav .nav-left .select-sub-btn-container .inactive {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}
.nav-container .nav .nav-left .select-sub-btn-container .active {
  transform: rotate(135deg);
  transition: transform 0.4s ease-in-out;
}
.nav-container .nav .nav-right {
  display: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  .nav-container .nav .nav-right {
    display: block;
    visibility: visible;
  }
}
.nav-container .nav h1 {
  font-family: "quality-brave", cursive;
  text-align: center;
  font-size: 2.7rem;
  line-height: 2.5rem;
}
.nav-container .nav h5 {
  font-size: 1rem;
  text-align: center;
  border: 2px solid black;
  font-style: italic;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0.1rem;
}

.main-body {
  margin: 0.5rem;
}
.main-body .articles-container {
  display: flex;
  flex-direction: column;
}
.article {
  background-color: rgb(242, 250, 250);
  position: relative;
  margin: 0.75rem;
}
.article .article-title {
  font-size: 1.4rem;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left;
  border-top: 1px solid rgb(39, 39, 39);
  border-bottom: 1px solid rgb(39, 39, 39);
  padding: 0.4rem 2.4rem 0.4rem 0;
  position: relative;
  margin-bottom: 1rem;
}
.article .article-title:hover {
  text-decoration: underline;
  transform: scale(1.005);
  transition: transform 0.2s ease-in-out;
}
.article .article-expand-btn {
  position: absolute;
  font-weight: bold;
  margin: 0;
  top: 10px;
  right: 0;
  padding: 0.24rem;
  font-size: 1.5rem;
}
.article .article-expand-btn:hover {
  background-color: rgb(242, 250, 250);
  border: none;
  color: rgb(44, 44, 44);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.article .comment-container {
  margin-top: 1.2rem;
  line-height: 1.15;
}
.article .comment-container .comment {
  font-size: 1.1em;
}
.article .comment-container .time-since-comment {
  font-size: 0.9em;
  line-height: 0.9;
  margin-bottom: 0.2rem;
}
.article .comment-container .time-since-comment.full {
  margin: 0.3rem;
}
.article .comment-container .comment-body {
  letter-spacing: 0.1px;
}
.article.full-article-container {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  z-index: 5;
  margin: 0;
}
.article.full-article-container .full-article {
  border: 10px solid black;
}
.article.full-article-container .full-article .article-title {
  margin: 3.25rem 0.75rem 0.75rem 0.75rem;
  padding: 0;
  font-size: 1.45rem;
  text-align: center;
}
.article.full-article-container .full-article .article-title::before {
  position: absolute;
  content: "";
  width: 96%;
  top: -0.4rem;
  left: 2.5%;
  height: 2px;
  background-color: rgb(39, 39, 39);
}
.article.full-article-container .full-article .article-title::after {
  position: absolute;
  content: "";
  width: 95%;
  bottom: -0.4rem;
  left: 2.5%;
  height: 2px;
  background-color: rgb(39, 39, 39);
}
.article.full-article-container .full-article .article-time-posted {
  margin-bottom: 0.5rem;
}
.article.full-article-container .full-article .article-subheader {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.article.full-article-container .full-article .comment-container {
  position: relative;
  padding: 1rem 0;
}
.article.full-article-container .full-article .comment-container::after {
  position: absolute;
  content: "";
  width: 60%;
  bottom: -0.4rem;
  left: 20%;
  height: 1px;
  background-color: rgb(39, 39, 39);
}
.article.full-article-container .full-article .link-to-post-container {
  margin: 3rem;
}
.article.full-article-container .full-article .link-to-post-container .link-to-post {
  display: block;
  color: rgb(242, 250, 250);
  text-transform: uppercase;
  font-style: italic;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(44, 44, 44);
}
.article.full-article-container .full-article .article-expand-btn {
  right: 13px;
  top: 13px;
}

.sr-menu {
  position: fixed;
  border: 5px solid black;
  height: 100%;
  top: 0;
  right: -20px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgb(242, 250, 250);
  z-index: 1;
  padding: 6rem 0 0 0;
  transition: 0.35s;
}
.sr-menu.active {
  width: 250px;
  right: 0;
  overflow-y: hidden;
}
.sr-menu.inactive {
  width: 0;
}
@media (min-width: 1024px) {
  .sr-menu {
    left: -20px;
  }
  .sr-menu.active {
    width: 250px;
    left: 0;
  }
}
.sr-menu h4 {
  text-align: center;
  margin: 1.25rem 0;
}
.sr-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.sr-menu .srm-btn-container {
  border: 1px solid white;
  width: 100%;
  text-align: center;
}
.sr-menu .srm-btn-container .srm-btn {
  width: 100%;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5em;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
  margin: 5px 0;
}
.sr-menu .srm-btn-container .srm-btn:hover {
  border-top: 2px solid rgb(44, 44, 44);
  border-bottom: 2px solid rgb(44, 44, 44);
}

.footer-container {
  margin: 2rem;
  text-align: center;
}
.footer-container a {
  color: rgb(44, 44, 44);
  border-top: 1px solid rgb(44, 44, 44);
  border-bottom: 1px solid rgb(44, 44, 44);
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.footer-container a:hover {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */