.article {
    // border: 1px solid black;
    background-color: $background-color;
    position: relative;
    // border: 1px solid $main-line-color;
    margin: .75rem;

    .article-title{
        font-size: 1.3rem;
        text-transform: uppercase;
        text-align: left;
        border-top: 1px solid $main-line-color;
        border-bottom: 1px solid $main-line-color;
        padding: .4rem 2.4rem .4rem 0;
        position: relative;
        margin-bottom: 1rem;

        &:hover{
            text-decoration: underline;
            transform: scale(1.005);
            transition: transform .2s ease-in-out;
        }



        &.headline{
            
            // font-size: 3rem;
        }
    }

    .article-expand-btn{
        position: absolute;
        font-weight: bold;
        margin: 0;
        top: 10px;
        right: 0;
        padding: .24rem;
        font-size: 1.5rem;
        // transform: translateY(-50%);
   

        &:hover{
            background-color: $background-color;
            border: none;
            color: $main-font-color;
            transition: all .1s ease-in-out;
            cursor: pointer;
        }

    }

    .comment-container{
        margin-top: .3rem;

        .comment{
            font-size: 1.1em;
        }

        .time-since-comment{
            font-size: .9em;
            line-height: .9;
            margin-bottom: .4rem;
        }

        .comment-body {
            letter-spacing: .1px;
        }
    }


    &.full-article-container{
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        z-index: 5;
        margin: 0;

        .full-article{
            border: 10px solid black;

            .article-title{
                margin: 4rem .75rem .75rem .75rem;
                padding: 0;
                font-size: 1.45rem;
                text-align: center;
                &::before{
                    position: absolute;
                    content: '';
                    width: 96%;
                    top: -.4rem;
                    left: 2.5%;
                    height: 2px;
                    background-color: $main-line-color;
                }
            
                &::after{
                    position: absolute;
                    content: '';
                    width: 95%;
                    bottom: -.4rem;
                    left: 2.5%;
                    height: 2px;
                    background-color: $main-line-color;
                }

            }

            .article-time-posted{
                margin-bottom: 1rem;
            }

            .article-subheader {
                text-decoration: underline;
                margin-bottom: 1rem;
            }
            .comment-container{
                position: relative;
                padding: 1rem 0; 
     
            
                &::after{
                    position: absolute;
                    content: '';
                    width: 60%;
                    bottom: -.4rem;
                    left: 20%;
                    height: 1px;
                    background-color: $main-line-color;
                }
            }
            .link-to-post-container{
                margin: 3rem;
                .link-to-post{
                    display: block;
                    color: $background-color;
                    text-transform: uppercase;
                    font-style: italic;
                    font-size: 1rem;
                    padding: .75rem 1.5rem;
                    background-color: $main-font-color;
                }
            }
        

            .article-expand-btn{
                right: 13px;
                top: 13px;
            }
        }
    }
}