
.main-body {
    margin: .5rem;

    .articles-container{
        display: flex;
        flex-direction: column;
        @media(min-width: $lg){
            
        }

        

    }

   

   

}

