$main-font-color: rgb(44,44,44);
$sub-font-color: rgb(77,77,77);
$main-line-color: rgb(39, 39, 39);
$background-color: rgb(242, 250,250);


  
//break-points 
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1300px;
$xxl: 2000px;
