$main-font-color: rgb(44,44,44);
$sub-font-color: rgb(77,77,77);
$main-line-color: rgb(39, 39, 39);
$background-color: rgb(242, 250,250);


  
//break-points 
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1300px;
$xxl: 2000px;


@font-face {
    font-family: 'quality-brave';
    src: url('../fonts/TheQualityBrave-Regular.ttf');
  }


.btn {
  background-color: $main-font-color;
  color: $background-color;
  border: 1px solid $main-font-color;

  &:hover{
                    
      background-color: $background-color;
      color: $main-font-color;
      border: 1px solid transparent;
      color: $main-font-color;
      transition: all .2s ease-in-out;
      cursor: pointer;
}
}