.sub-header{
    display: flex;
    justify-content: space-around;
    border-top: 1.5px solid $main-font-color;
    border-bottom: 1.5px solid $main-font-color;
    margin: 1rem 2rem;
    padding: .25rem;
    position: relative;
    

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        top: .15rem;
        // left: 1%;
        height: .5px;
        background-color: $main-line-color;
      }
      
      
    &::after{
        position: absolute;
        content: '';
        width: 100%;
        bottom: .15rem;
        // left: 1%;
        height: .5px;
        background-color: $main-line-color;
    }
}