ul{
    list-style-type: none;
    border: 1px solid black;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0 0;
    transition: .5s;
        &.active{
            width: 250px;
        }

        &.inactive {
            width: 0;
        }


        .srm-btn-container{
            border: 1px solid white;
            width: 100%;
            text-align: center ;
            .srm-btn{
                width: 95%;
            }
        }
    }