

.select-sub-btn{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;

    
    .active{
        transform: rotate(0deg);
        transition: transform .4s ease-in-out;  
    }

    .inactive{
        transform: rotate(90deg);
        transition: transform .4s ease-in-out;  
    }

}



















@import 'nav';
@import 'layout';
@import 'article';
@import 'reusable';
@import 'subRedditMenu'